<h4 class="mb-3"><strong>Fuction Menu</strong></h4>
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 px-2">
    <div class="card">
      <div class="bg-image hover-overlay ripple">
        <img src="./assets/images/shop.png" class="img-iconshop" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Shop management</h5>
        <p class="card-text">
          1) show all shops
          <br>
          2) add a new shop to the database.
          <br>
          <br>
        </p>
        <a routerLink="/shop" class="btn btn-primary btn-rounded">Click Here</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4 px-2">
    <div class="card">
      <div class="bg-image hover-overlay ripple">
        <img src="./assets/images/item.png" class="img-iconshop" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Item management</h5>
        <p class="card-text">
          1) show all items of a shop,
          <br>
          2) add a new item to the shop.
          <br>
          <br>
        </p>
        <a routerLink="/item" class="btn btn-primary btn-rounded btn-rounded">Click Here</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4 px-2">
    <div class="card">
      <div class="bg-image hover-overlay ripple">
        <img src="./assets/images/order.png" class="img-iconshop" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Item search, purchase, cancel</h5>
        <p class="card-text">
          1) search items by keywords
          <br>
          2) item purchase
          <br>
          3) order cancel
        </p>
        <a routerLink="/order" class="btn btn-primary btn-rounded">Click Here</a>
      </div>
    </div>
  </div>
</div>